<p>
  welcome works!

  <button class="btn btn-primary pull-right" (click)="greet()" type="submit">Greet</button>
  <button class="btn btn-primary pull-right" (click)="greet1()" type="submit">Greet</button>
  <button class="btn btn-primary pull-right" (click)="chain()" type="submit">Chain</button>
  <button class="btn btn-primary pull-right" (click)="tryfetch()" type="submit">Fetch</button>
  <button class="btn btn-primary pull-right" (click)="tryGet()" type="submit">GET</button>
  <button class="btn btn-primary pull-right" (click)="tryfetch1()" type="submit">Fetch1</button>
  <button class="btn btn-primary pull-right" (click)="tryXhr()" type="submit">Xhr</button>
</p>
{{msg}}
